/**
 * # Base Styles
 */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/**
 * # Landmarks
 */

/**
 * ## Main (.main)
 */
.main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 50px;
}


/**
 * # Layout Modules
 */

/**
 * ## Grid (.grid)
 */
.grid {
    margin-left: -10px;
}

.grid:after {
    content: '';
    display: block;
}

.mix-grid_fullHeight {
    height: 100%;
}

.grid-col {
    float: left;
    padding-left: 10px;
}

.grid-col_1of12 { width: 8.33%; }
.grid-col_2of12 { width: 16.67%; }
.grid-col_3of12 { width: 25%; }
.grid-col_4of12 { width: 33.33%; }
.grid-col_5of12 { width: 41.67%; }
.grid-col_6of12 { width: 50%; }
.grid-col_7of12 { width: 58.33%; }
.grid-col_8of12 { width: 66.67%; }
.grid-col_9of12 { width: 75%; }
.grid-col_10of12 { width: 83.33%; }
.grid-col_11of12 { width: 91.67%; }

.mix-grid-col_fullHeight {
    height: 100%;
}


/**
 * ## Table (.table)
 */
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table_shadowed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mix-table_fixed {
    table-layout: fixed;
}

.mix-table_fullHeight {
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.mix-table-cell_fullHeight {
    height: 100%;
}

.table-row {
    display: table-row;
}

.table-positioner {
    height: 100%;
    position: relative;
    width: 100%;
}

.table-scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/**
 * Vertical ## Rhythm (.vr)
 */
.vr_1x { margin-bottom: 5px; }
.vr_2x { margin-bottom: 10px; }
.vr_3x { margin-bottom: 15px; }
.vr_4x { margin-bottom: 20px; }
.vr_5x { margin-bottom: 25px; }


/**
 * # Container
 */

/**
 * Vertical ## List (.vList)
 */

.vList_lined > * + * {
    border-top: 1px solid #eeeeee;
}


/**
 * Definition ## List (.dList)
 */
.dList {
}

.dList-term {
    float: left;
    margin-right: 5px;
}

.dList-definition {
    overflow: hidden;
}


/**
 * ## Copy (.copy)
 */
.copy > p {
    margin-top: 10px;
}

.copy > p:first-child {
    margin-top: 0;
}


/**
 * # Content
 */

/**
 * ## Email (.email)
 */
.email {
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: background-color 100ms, color 100ms, padding 100ms ease-out;
}

.email_isActive {
    background: #15c4ea;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 5px;
}

.email-hd {
    margin-bottom: 4px;
}

.email-heading {
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.email-teaser {
    font-size: 14px;
    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/**
 * ## Input (.input)
 */
.input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 10px 5px;
    width: 100%;
}


/**
 * ## Text (.txt)
 */
.txt_xs { font-size: 12px; }
.txt_s { font-size: 14px; }
.txt_m { font-size: 16px; }
.txt_l { font-size: 20px; }
.txt_xl { font-size: 24px; }
.txt_xxl { font-size: 30px; }

.mix-txt_light {font-weight: 300; }
.mix-txt_bold { font-weight: bold; }
.mix-txt_italic { font-weight: bold; }

.mix-txt_grey8of16 { color: #777777; }
.mix-txt_grey10of16 { color: #999999; }
.mix-txt_grey12of16 { color: #bbbbbb; }

.mix-txt_vr_l { line-height: 1.3; }


/**
 * # Utility Classes
 */

.isVisuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}
